body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}

.body-header{
   height:500px;
   overflow:hidden;
   text-align:right;
}
body, .offcanvas{
   background-color: #2E4053;
   background-image: linear-gradient(#2E4053, #9C640C) !important;
   color: #CCD1D1;
}
.sm{
   font-size:12px !important;
}

h5{
   font-size: 14px;
}

.h1{
   font-size:45px;
   font-weight: 600;
}

a, a:hover, .nav-link{
   color: #CCD1D1;
}
.nav-link:hover{
   color: #9C640C;

}

.my-text-color-1{
   color:#9C640C;
}

.footer{
   background-color:black;
}

.carousel {
   height: 50%;
}

.carousel-inner {
   height: 100%;
}

.carousel-item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.search-container {
   flex-grow: 1;
}

.card-group .search-card {
   max-width: 30%;
   flex-basis: 30%;
}

.search-card img {
   max-height: 300px;
}

.search-form {
   display: flex;
}

.search-form .form-control {
   flex-grow: 1;
   margin: 2px;
   display: inline;
   width: unset;
   appearance: auto;
}

.search-form .btn {
   width: 20%;
   margin-left: 10px;
}