{% extends 'base.html' %}

{% block body%}
<div class="container pt-5">
   <div class='col-sm-3 m-auto mt-5'>
   <h5 class='mb-3'>Sign-in</h5>

   <form method='POST' action='/sign-in'>
      {% with messages = get_flashed_messages() %}  
         {% if messages %}  
            {% for message in messages %}  
               <h5 class='text-danger'>{{ message }}</h5>
            {% endfor %}
         {% endif %}
      {% endwith %}
      <div class="mb-3">
      <label for="" class="form-label m-0 sm">Email address</label>
      <input name='email' type="email" class="form-control" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
      <label for="Password1" class="form-label m-0 sm">Password</label>
      <input name='password' type="password" class="form-control" id="Password1">
      <a href='#' class="" for="">Forgot password?</a>
      </div>
     
      <button type="submit" class="btn btn-primary w-100 mt-3 sign-in-btn">Login
         <div class="spinner-grow spinner-grow-sm" id='sign-in-spinner' style='display:none;' role="status">
            <span class="visually-hidden">Please Wait...</span>
          </div>
      </button>
   </form>
</div>

</div>

<script>
$(".sign-in-btn").click(function(){
  // $(".sign-in-btn").attr('disabled', true)
   $("#sign-in-spinner").show()
})
</script>
{%endblock%}