{% extends 'base.html' %}

{% block body%}

<h2 class='p-5 text-center'>Terms and Conditions of Apartment Rental Agreement</h2>   
<div class='container m-5 p-5 pt-0'>

   <ul class="list-group">   
   
   <li class="list-group-item"><b>Rent and Security Deposit</b>:
      The Tenant agrees to pay a monthly rent, payable in advance on the [Rent Due Date] of each month. The first month's rent and a security deposit of [Security Deposit Amount] are due upon signing this Agreement.
   </li>
   <li class="list-group-item"><b>Use of Premises</b>:
      The Tenant shall occupy and use the Rental Property solely for residential purposes and shall not engage in any illegal activities or nuisances that may disturb other tenants or violate local ordinances.
   </li>
   <li class="list-group-item"><b>Maintenance and Repairs</b>:
      The Landlord shall maintain the Rental Property in a habitable condition and promptly address any necessary repairs or maintenance. The Tenant agrees to notify the Landlord promptly of any maintenance issues or repair needs.
   </li>
   <li class="list-group-item"><b>Utilities and Services</b>:
      The Tenant shall be responsible for arranging and paying for all utilities and services, including but not limited to electricity, water, gas, internet, cable, and telephone, unless otherwise specified in writing by the Landlord.
   </li>
   <li class="list-group-item">7. <b>Pets and Animals</b>:
      Pets may be allowed on the premises subject to the Landlord's pet policy and payment of any applicable pet fees or deposits. The Tenant agrees to abide by all pet-related rules and regulations established by the Landlord.
   </li>
   
   <li class="list-group-item"><b>Subleasing and Assignment</b>:
      The Tenant shall not sublease, assign, or transfer the Rental Property or any portion thereof without the prior written consent of the Landlord, which may be withheld at the Landlord's discretion.
   </li>
   <li class="list-group-item"><b>Termination and Renewal</b>:
      Upon expiration of the initial lease term, this Agreement shall automatically renew on a month-to-month basis unless terminated by either party with at least [Notice Period] days' written notice prior to the end of the current term.
   </li>

   <li class="list-group-item"><b>Default and Remedies</b>:
      In the event of default by either party, the non-defaulting party shall have all remedies available at law or equity, including but not limited to termination of this Agreement and pursuit of monetary damages.
   </li>
   
   <li class="list-group-item"><b>Governing Law and Jurisdiction</b>:
      This Agreement shall be governed by and construed in accordance with the laws of [State/Country]. Any disputes arising out of or relating to this Agreement shall be resolved exclusively in the courts of [Jurisdiction].
   </li>
   
</ul>
   
</div>
{%endblock%}